[nat_gw]
177.91.66.34 ansible_user=homolog ansible_become_password=Homolog@2026!

[k8s_cluster:children]
k8s_control_plane
k8s_workers

[k8s_control_plane]
10.0.0.201 ansible_user=homolog ansible_become_password=Homolog@2026!
10.0.0.202 ansible_user=homolog ansible_become_password=Homolog@2026!
10.0.0.203 ansible_user=homolog ansible_become_password=Homolog@2026!

[k8s_workers]
10.0.0.211 ansible_user=homolog ansible_become_password=Homolog@2026!
10.0.0.212 ansible_user=homolog ansible_become_password=Homolog@2026!

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args=-o StrictHostKeyChecking=accept-new -o PubkeyAuthentication=no
