# Inventário das VMs do cluster k8s homolog
# Gerar a partir do Terraform output:
# cd terraform/proxmox/environments/homolog && terraform output -json all_nodes

[nat_gateway]
nat-gw ansible_host=10.0.0.1 ansible_user=homolog ansible_password=Homolog@2026! ansible_become_password=Homolog@2026!

[control_planes]
k8s-cp1 ansible_host=10.0.0.201 ansible_user=homolog ansible_password=Homolog@2026! ansible_become_password=Homolog@2026!
k8s-cp2 ansible_host=10.0.0.202 ansible_user=homolog ansible_password=Homolog@2026! ansible_become_password=Homolog@2026!
k8s-cp3 ansible_host=10.0.0.203 ansible_user=homolog ansible_password=Homolog@2026! ansible_become_password=Homolog@2026!

[workers]
k8s-w1 ansible_host=10.0.0.211 ansible_user=homolog ansible_password=Homolog@2026! ansible_become_password=Homolog@2026!

[k8s_cluster:children]
control_planes
workers

[k8s_cluster:vars]
ansible_become=yes
ansible_python_interpreter=/usr/bin/python3
