[nat_gw]
# nat-gw é o único host com IP público. Conecta direto.
nat-gw ansible_host=177.91.66.34

[control_plane]
k8s-cp1 ansible_host=10.0.0.201
k8s-cp2 ansible_host=10.0.0.202
k8s-cp3 ansible_host=10.0.0.203

[worker]
k8s-w1 ansible_host=10.0.0.211

[k8s_cluster:children]
control_plane
worker

# Cluster k8s - acesso via bastion (ProxyJump pela nat-gw)
[k8s_cluster:vars]
ansible_user=ubuntu
ansible_ssh_common_args='-o ProxyJump=ubuntu@177.91.66.34 -o StrictHostKeyChecking=accept-new'
